
  <div class="layui-row [idName]">
    <div class="flex">
      <div class="layui-col-md11 stretch">
          <div tabindex="1" class="detail-comment-input">
            <div id="id-edit" name="comment" class="detail-comment-edit" placeholder='写下你的评论..' contenteditable="true"></div>
          </div>
        </div>
        <div class="layui-col-md1 stretch">
          <button class="layui-btn layui-btn-sm detail-comment-btn" id="id-comment-btn">发表</button>
        </div>
    </div>
    
  </div>