{extend name="layout:layout"/}

{block name="head"}
<!-- 公共头部 -->
{include file="layout/head" title="文章详情"}
<link rel="stylesheet" href="WAP_PATH/css/detail.css">
<script src="PLUG_PATH/art-template/art-template.js"></script>
{/block}

{block name="content"}
<h1>{$data.title}</h1>
<p>{$data.content}</p>

<div class="detail-comment">


  <button id="btn-comment" class="layui-btn layui-btn-sm layui-btn-radius">查看评论</button>
  
  <!-- 模板 评论 -->
  <script type="text/html" id="art-comment">
    <% if (!comments.length) { %>
    <span>暂无评论。。</span>
    <% } %>

    <% if (comments.length) { %>
    <div class="detail-comment-topbar">
      <div class="center">
        {{comments.length}}条评论
      </div>
      <div class="center asd">
        切换为时间排序
      </div>
    </div>


    <div>

      <% for(var i = 0; i < comments.length; i++){ %>
      <% let comment = comments[i]%>
      <ul>
        <!-- 主评论 -->
        <li class="detail-comment-item-root">
          <div class="detail-comment-user">
            <span class="center">{{comment.username}}</span>
            <span class="center">2个月前</span>

          </div>
          <div class="detail-comment-content">
            <p>{{comment.content}}</p>
          </div>
          <div class="detail-comment-like">
            <span class="detail-comment-praise">
              <i class="layui-icon layui-icon-praise"></i>
              <i>{{comment.like}}</i>
            </span>
            <span data-reply_type="1" data-comment_id="{{comment.id}}" class="detail-comment-reply">
              <i class="layui-icon layui-icon-reply-fill"></i>
              <span>回复</span>
            </span>
          </div>
          
          {include file="article/components/comment-edit" idName="comment-reply" type="reply-com"}
        </li>
        <!-- 回复评论 -->
        <% if(comments.reply.length) { %>
        <% for(var i = 0; i < comments.reply.length; i++){ %>
        <% let reply = comments.reply[i]%>
        <li class="detail-comment-item">
          <div class="detail-comment-user">
            <span class="center">xx用户 回复 xx用户</span>
            <span class="center">2个月前</span>

          </div>
          <div class="detail-comment-content">
            <p>评论内容asdsadsadasdsad</p>
          </div>
          <div class="detail-comment-like">
            <span data-reply_type="2" data-comment_id="{{comment.id}}" class="detail-comment-reply">
              <i class="layui-icon layui-icon-reply-fill"></i>
              <i>回复</i>
            </span>
          </div>

          {include file="article/components/comment-edit" idName="comment-reply" type="reply-com"}
        </li>
        <% } %>
      </ul>
      <% } %>

    </div>
    <% } %>
  </script>

  <!-- 评论 -->
  <div class="detail-comment-box">
    {include file="article/components/comment-edit" idName="comment-edit" type="article-com"}
    
    <div class="detail-comment-list">

    </div>
  </div>

</div>
{/block}

{block name="js"}
<script>
  layui.use(['layer'], () => {

    // 获取jquery
    let $ = layui.$
    let layer = layui.layer
    // 评论类型
    let commentType = {
      type: '',
      val: '',
      reply_type: '',
      comment_id: ''
    }
  
    function loadComments() {
      let commentList = $('.detail-comment-list')
      $.ajax({
        url: 'http://www.liucy.io/comment/get',
        method: 'get',
        data: {
          id: "{$data.id}",
        },
        success(res) {
          console.log(res);
          let data = {comments: res}
          let html = template('art-comment', data)
          commentList.html(html)

          $('.detail-comment-edit').on('input', function (e) {
            let that = $(this)
            let el = that.parents('.comment-edit').length ? that.parents('.comment-edit') : that.parents('.comment-reply')
            commentType.type = that.data('type')
            commentType.val = that.text()
            
            

          })

          $('.detail-comment-edit').on('focus', function (e) {
            $('.detail-comment-input').css({
              'border-color': '#5FB878'
            })
          })
          $('.detail-comment-edit').on('blur', function (e) {
            $('.detail-comment-input').css({
              'border-color': '#ccc'
            })
          })


          // 点击评论发表
          $('.detail-comment-btn').on('click', function (e) {
            if (!commentType.val) return layer.msg('请填写评论内容')
            let self = $(this)
            let edit_el = self.parent().prev().find('.detail-comment-edit')
          
            
            let data = {
              'compose_id': "{$data.id}",
              content: commentType.val,
              user_id: 2
            }

            // 判断当前类型是回复评论还是文章评论
            if(commentType.type === 'article-com') {
              // 评论
              $.ajax({
                url: 'comment',
                method: 'post',
                data,
                success(res) {
                  console.log(res);
                  // 清空文本框内容
                  edit_el.text('')
                  // q清空保存的评论数据
                  Object.keys(commentType).forEach(k => commentType[k] = '')
                  // 加载评论列表
                  loadComments()
                }
              })
            } else {

              let data = {
                comment_id: commentType.comment_id,
                reply_type: commentType.reply_type,
                reply_id: commentType.comment_id,
                user_id: 5,
                content: commentType.val
              }

              console.log(data);
              
              // 回复评论
              $.ajax({
                url: 'http://www.liucy.io/comment/reply',
                method: 'post',
                data,
                success(res) {
                  console.log(res);
                  // 清空文本框内容
                  edit_el.text('')
                  // q清空保存的评论数据
                  Object.keys(commentType).forEach(k => commentType[k] = '')
                  // 加载评论列表
                  loadComments()
                }
              })
            }
            
          })






          // 点击回复按钮
          $('.detail-comment-reply').on('click', function(e) {
            let self = $(this)
            let reply_el = self.parent().siblings('.comment-reply')
            commentType.reply_type = self.data('reply_type')
            commentType.comment_id = self.data('comment_id')
            reply_el.toggle()
            
          
          })
        }
      })
    }


    // 查看评论
    $('#btn-comment').on('click', function (e) {
      // console.log(e);
      let that = $(this)
      let commentBox = $('.detail-comment-box')
      
      // 切换评论状态
      commentBox.toggle()

      // 加载评论列表
      loadComments()
    })


    

    

    
  })
</script>
{/block}