
{extend name="layout:layout"/}

{block name="head"}
  <!-- 公共头部 -->
  {include file="layout/head" title="文章列表"}
  <link rel="stylesheet" href="WAP_PATH/css/index.css">
{/block}

{block name="content"}
  <div class="article-body">
    <button id="chinese" class="layui-btn layui-btn-primary">添加文章</button>
    <button id="search" class="layui-btn">搜索文章</button>
    <div class="article-list">
        <ul>
          {volist name="list" id="item"}
            <li class="article-item">
              <div>
                <span>{$item.user.username}</span>
                <span>·</span>
                <span>{$item.create_time}前</span>
                <span>·</span>
                <span>{$item.category.name}</span>
              </div>
              <a href="{:url('detail', 'id=' . $item.id)}" class="article-title">{$item.title}</a>
            </li>
            <hr class="layui-bg-green">
          {/volist}
        </ul>
      
    </div>
  </div>
{/block}

{block name="js"}
  <script>
    layui.use(['layer'], function() {
      const $ = layui.$
      $('#chinese').on('click', function() {
        $.ajax({
          url: 'add',
          method: 'post',
          data: {
            title: '性价比最高的小米9手机'
          },
          success(res) {
            console.log(res);
            
          }
        })
      })

      $('#search').on('click', function() {
        $.ajax({
          url: 'search',
          method: 'post',
          data: {
            title: '性价比手机'
          },
          success(res) {
            console.log(res);
            
          }
        })
      })
    })
  </script>
{/block}
